<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <article>
        <h1><%= @article.title %>
        <small>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash"></i>
        </small>
        </h1>
        <p><%= @article.content %> </p>
      </article>
    </div>
  </div>
</div>


